.section {
}
.features {
}
.container {
}
.visibility-hiden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.features-list {
}
.features__item {
	&:not(:first-child) {
		margin-top: 30px;
	}
}
.features__thumb {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $third-bg;
}
.features__svg {
	display: flex;
	margin-right: auto;
	margin-left: auto;
}
.features__item-title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
	color: $secondary-text-color;
}
.features__description {
	margin-top: 10px;
}
