.features {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: $tablet - 1) {
	.features__item {
		width: 450px;
		&:not(:first-child) {
			margin-top: $item-gap;
		}
	}
}
@media screen and (min-width: $tablet) and (max-width: $desktop) {
	.features {
		margin-top: (-1 * $item-gap);
		margin-left: (-1 * $item-gap);
	}
	.features__item {
		margin-left: $item-gap;
		margin-top: $item-gap;
		flex-basis: (($tablet - 60px) / 2);
	}
}
@media screen and (min-width: $desktop) {
	.features__item {
		flex-basis: (($desktop - 120px)/4);
		&:not(:first-child) {
			margin-left: $item-gap;
		}
	}
}
.features__thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background: $third-bg;
	border-radius: 4px;
}
.features__svg {
	width: 70px;
	height: 70px;
}
.features__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-top: 30px;
	color: $secondary-text-color;
}
.features__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	margin-top: 10px;
}
