.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
@media screen and (max-width: $tablet) {
	.filter {
		flex-wrap: wrap;
	}
}
.filter__item {
	&:not(:first-child) {
		margin-left: 8px;
	}
	@media screen and (max-width: $tablet - 1) {
		&:nth-last-of-type(-n + 2) {
			margin-top: 15px;
		}
	}
}
.filter__btn {
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;

	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;

	text-align: center;
	color: $secondary-text-color;
	border: transparent;

	background-color: $third-bg;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: $bg-color;
		background-color: $brand-color;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
