.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $secondary-bg;
}
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
	.footer__container {
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start
	}
}
@media screen and (min-width: $desktop) {
	.footer__container {
		flex-direction: row;
		justify-content: space-between;
	}
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo--contrast {
	color: $bg-color;
}
.address {
	margin-top: 20px;
}
.address__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.address__item:not(:first-child) {
	margin-top: 9px;
}
.address__link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--street {
	color: $bg-color;
}
.join-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media screen and(max-width: $tablet) {
	.join-box {
		margin-top: 60px;
	}
}
@media screen and (min-width: $tablet) and (max-width: $desktop - 1) {
	.join-box {
		margin-top: 0;
		margin-left: 165px;
	}
}
.join-box__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;

	color: $bg-color;
}
/* _socials.scss */
.subscribe-box {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: $desktop) {
	.subscribe-box {
		margin-top: 60px;
		align-items: center;
	}
	.subscribe-box__btn {
		margin-left: auto;
		margin-right: auto;
	}
}
.subscribe-box__title {
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;

	color: $bg-color;
}
.subscribe-box__form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	padding-right: 15px;
	padding-left: 15px;
}
.subscribe-box__input {
	padding: 15px 16px;

	background-color: inherit;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	@media screen and (min-width: 480px) {
		width: $mobile - 30px;
	}
}
.subscribe-box__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.subscribe-box__btn-svg {
	margin-left: 10px;
}
@media screen and (min-width: $desktop) {
	.subscribe-box__input {
		width: 358px;
	}
	.subscribe-box__form {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
	.subscribe-box__btn {
		margin-top: 0;
		margin-left: 20px;
	}
}
