.menu-toggle {
	cursor: pointer;
	border: 0px;
	background-color: $bg-color;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $bg-color;

	transform: translateX(-101%);
	&.is-open {
		transform: translateX(0);
	}
}
.menu__container {
	display: flex;
	flex-direction: column;
	margin-top: 48px;
	margin-left: 10%;
	margin-bottom: 40px;
}
.menu__close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 40px;
	width: 40px;
}
.menu__nav {
}
.menu__item {
	&:not(:first-child) {
		margin-top: 32px;
	}
}
.menu__link {
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	letter-spacing: 0.02em;
	color: $secondary-text-color;
	&:hover {
		color: $brand-color;
	}
	&--current {
		color: $brand-color;
	}
}
.menu__contacts {
	margin-top: 300px;
}
.menu-phone {
	font-weight: 500;
	font-size: 34px;
	line-height: 40px;
	color: $brand-color;
	&:hover {
		color: $brand-color;
	}
}
.menu-mail {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: $primery-text-color;
	&:hover {
		color: $brand-color;
	}
}
.menu__socials {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 60px;
}
.menu__social {
	&:not(:first-child) {
		margin-left: 20px;
	}
}
.social-link {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;

	color: $brand-color;
}
