/* ------- Backdrop ------- */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background: rgba(0, 0, 0, 0.2);
	&.is-hidden {
		opacity: 0;
		pointer-events: none;
	}
}

/* ------- Modal ------- */
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: #fff;
	@media screen and (min-width: 320px) {
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	@media screen and (min-width: $mobile) {
		width: 450px;
	}
	@media screen and (min-width: $desktop) {
		width: 528px;
	}
}
.modal__close-btn {
	position: fixed;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
}
.modal__title {
	font-size: 20px;
	line-height: 23px;
	color: $secondary-text-color;
}
.form {
	margin-top: 12px;
}
.form__field {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	font-family: "Roboto";
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	&:not(:first-child) {
		margin-top: 10px;
	}
}
.form__input {
	width: 100%;
	margin-top: 4px;
	resize: none;

	padding: 11px 12px 11px 35px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		border: 1px solid $brand-color;
		outline: none;
	}
	&--comment {
		padding: 12px 16px;
	}
}
.form__svg {
	position: absolute;
	top: 27px;
	left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.form__input:focus + & {
		fill: $brand-color;
	}
}
.policy {
	display: flex;
	margin-top: 20px;
}
.policy__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.policy__icon {
	display: inline-block;
	margin-right: 8px;
	width: 16px;
	height: 15px;
	border: 2px solid $secondary-text-color;
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.policy__checkbox:hover + &,
	.policy__checkbox:focus + & {
		border-color: $brand-color;
	}
	.policy__checkbox:checked + & {
		border-color: $brand-color;
		background-color: $brand-color;
		background-image: url(../images/icon-check.svg);
		background-size: contain;
		background-origin: border-box;
	}
}
.policy__link {
	color: $brand-color;
	text-decoration: underline;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: $btn-second;
		text-decoration: none;
	}
}
.form__submit-btn {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
