.section--bg-gray {
	background: $third-bg;
	text-align: center;
}
.workers {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	@media screen and (min-width: $tablet) {
		margin-top: -1 * $item-gap;
		margin-left: -1 * $item-gap;
	}
}
.workers__card {
	max-width: 450px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;

	@media screen and (max-width: $tablet - 1) {
		&:not(:first-child) {
			margin-top: $item-gap;
		}
	}

	@media screen and (min-width: $tablet) {
		margin-top: $item-gap;
		margin-left: $item-gap;
	}

	@media screen and (min-width: $desktop) {
		&:not(:first-child) {
			margin-left: $item-gap;
		}
	}
}
.workers__content {
	padding-top: 30px;
	padding-bottom: 24px;
	background-color: $bg-color;
}
.workers__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: $secondary-text-color;
}
.workers__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	margin-top: 10px;
}
@media screen and (max-width: $desktop) {
	.title--margin-bottom {
		margin-bottom: 30px;
	}
}
